# Base image tag for all services
PYTHON_TAG=3.14-slim-trixie
HAZELCAST_CLUSTER_NAME="counter-hazelcast-cluster"
MONGODB_ADMIN_USER=
MONGODB_ADMIN_PASSWORD=
MONGODB_COUNTER_USER=
MONGODB_COUNTER_PASSWORD=

