# Base image tag for all services
PYTHON_TAG=3.14-slim-trixie
HAZELCAST_CLUSTER_NAME="counter-hazelcast-cluster"
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_COUNTER_USER=
MONGODB_COUNTER_PASSWORD=
COUNTER_HAZELCAST_QUEUE_NAME=